:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 100px;
}

.wait-turn-card {
  width: 350px;
  height: 350px;
  background-color: lightgray;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: inset 1px -1px 17px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  margin-top: -40px;
  padding-top: 16px;
  justify-content: center;
}

.wait-text {
  font-size: 40px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  display: flex;
}

.clock {
  width: 350px;
  height: 250px;
}
